
*{
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}

#keranjang_kamu{
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #329AA0;
}

#prevbutton{
    height: 1.5em;
    width: 1.5em;
    padding: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
}

hr{
    height: 1px; 
    background-image: linear-gradient(left, #f0f0f0, #ececec, #f0f0f0);
}

.icons{
    padding: 50px 50px 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#shopcart, #profile, #calendar, #confirm{
    width: 50px;
    height: 50px;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: baseline;
}

#hapus{
    color: #E80E29;
    font-size: 30px;
    padding-top: 43px;
    padding-bottom: 20px;
    padding-right: 93px;
    cursor: pointer;
}

#lifebuoy{
    font-size: 30px;
    color: #2C4F51;
    padding-top: 30px;
    padding-left: 90px;
    padding-bottom: 18px;
}

 #sabun_mandi{
    padding-left: 90px;
    padding-bottom: 15px;
    font-size: 20px;
    color: #0B9AA4;
}

.product_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.amount_price{
    display: flex;
    justify-content: space-between;
    color: #2C4F51;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

#price{
    padding-right: 90px;
    font-size: 30px;
}

#size{
    padding-left: 90px;
    font-size: 30px;
}

#line_seperator2{
    width: 90%;
    margin: auto;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    color: #2C4F51;
    padding-top: 50px;
    padding-bottom: 50px;
}

#subtotal{
    padding-left: 90px;
    font-size: 30px;
    color: #0a737a;
}

#price_subtotal{
    padding-right: 90px;
    font-size: 30px;   
}

.ongkoskirim{
    display: flex;
    justify-content: space-between;
    color: #2C4F51;
    padding-bottom: 50px;
}

#ongkir{
    padding-left: 90px;
    font-size: 30px;
    color: #0a737a;
}

#price_ongkir{
    padding-right: 93px;
    font-size: 30px;   
}

.promo{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ececec;
    border-radius: 15px;
    align-items: center;
}

#nexticon{
    height: 25px;
    width: 32px;
    padding: 20px;
    padding-right: 30px;
    align-items: center;
}

.GunakanPromo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#diskon{
    padding-left: 30px ;
    padding-top: 8px;
    width: 34px;
    height: 36.61px;
}

#tekspromo{
    padding-left: 18px;
    padding-top: 10px;
    font-size: 26px;
    color: #2C4F51;
}

.button_lanjut{
   width: 20%;
    display: flex;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #42CDD6;
    justify-content: center;
    border-radius: 100px;
    position: absolute;
    right: 5rem;
    margin: 50px;
}

#tekslanjut{
    font-size: 30px;
    align-items: center;
    color: white;
}

#next{
    text-decoration: none;
}





 



